body {
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
}
.container {
	border: 1px solid black;
	width: 50%;
	height: 80vh;
	margin: 0 auto;
}
.result{
	text-align: center;
	height: 20%;
}
.buttons{
	border: 1px solid blue;
	height: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.button {
	border: 1px solid gray;
	width: 20px;
}
